
/*Header Text*/
body {
    background-color: #121212;
    margin: 0%;
}

html {
    --scrollbarBG: #1f1f1f;
    --thumbBG: #909090;
}
html::-webkit-scrollbar {
    width: 12px;
}
html {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
html::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
html::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}
html::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #606060;
}


.header-index {
    position: relative;
    fill: white;
    color: white;
    font-size: 40px;
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    text-align: center;
    padding-top:64px;
    font-weight: 500;
    margin-bottom: 20px;
}

/*Nav*/
.index-nav-information {
    top: 150px;
    width: 100%;
    height: 64px;
    margin: 0;
}

.index-nav-information ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding-top: 30px;
    padding-left: 0px;
    /*centering*/
    left: 50%;
    transform: translate(-50%, -15%);  
    table-layout: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.index-nav-information li {
    display: flex;
}
/*styling links inside the nav bar*/
.index-nav-information a {
    color: #DEDEDE;
    /*alter for vertical/horizontal stack*/
    text-align: center;
    letter-spacing: 0.03125rem;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    padding-left: 16px; 
    padding-right: 16px;    
    font-size: 1.125rem;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    font-family: var(--mdc-typography-body1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
    overflow: auto;
}
.index-nav-information a:hover {
    color: #DEDEDE;
    /*https://material.io/design/motion/speed.html#easing*/
    transition: 0.25s color;
}

.listItem:first-child a::after {
    content: '';
    height: 4px;
    width: 50.02px;
    background-color: #4285f4;
    /*background-color: #03DAC5;*/
    bottom: -1.2rem;
    position: absolute;
    transform: translateX(-100%);
    transition: all ease-in-out 0.1s;
    /*border-radius: 8px;*/
}
.listItem:first-child a:hover::after {
    /*alter this value to alter the hover bar (blue)*/
    height: 4px;
}

.listItem:nth-child(2) a::after {
    content: '';
    position: absolute;
    width: 77px;
    height: 0px;
    background-color: #999999;
    bottom: -1.2rem;
    transform: translateX(-100%);
    transition: all ease-in-out 0.1s;
}
.listItem:nth-child(2) a:hover::after {
    height: 4px;
}

.listItem:nth-child(3) a::after {
    content: '';
    position: absolute;
    width: 52.05px;
    height: 0px;
    background-color: #999999;
    bottom: -1.2rem;
    transform: translateX(-100%);
    transition: all ease-in-out 0.1s;
}

.listItem:nth-child(3) a:hover::after {
    height: 4px;
}

.sticky {
    position: fixed;
    top: 0;
    background-color: #1f1f1f;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
    width: 100%;
    transition: top 0.3s;
}

.sticky + .content {
    padding-top: 112px;
    background-color: #121212;
    transition: top 0.3s;
}

#navigation_bar {
    width: 100%;
    display: flex;
    z-index:1;
}

/*Content*/


.content {
    /*Height here is for testing purposes ONLY*/
    height: 2000px;
}




/*Footer*/
footer {

    left: 0;
    bottom:0%;
    width: 100%;
    height: 356px;
    box-shadow: 0 8px 24px 0 rgba(0,0,0,.2);
    background-color: #1f1f1f;
    color: white;
}

.footer-creators { 
    position: absolute;
    left: 20%;
    margin-top: 10.5rem;
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}
